<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>
  <%= params[:post_id] %>
  <div class="form-inputs">
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :post_id, :value => params[:post_id] %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
