<%= simple_form_for(@comment, html: { :remote=>true } ) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :post_id, :value => params[:post_id] %>
    <%= f.input :body, :as => :text, :input_html => {:rows => "3"},:label => false%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :value => "Submit", class: "btn btn-primary" %>
    <%= link_to_function "cancel", "$('#new_comment').remove()", class: "btn btn-danger btn-mini" %>
  </div>
<% end %>
