<p id="notice"><%= notice %></p>

<p><%= @post.body %></p>

<br/>
<% if user_signed_in? && @post.user_id == current_user.id %>
  <div id="post_controls">
    <%= link_to 'Edit', edit_post_path(@post) %> <br/>
    <%= link_to 'New Comment', new_comment_path(post_id: @post.id), remote: true %>
  </div>
<% end %>


<div id="comments" class="row-fluid">
    <%= nested_messages @comments.arrange(:order => :created_at) %>
</div>
